*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    
    background: white;
}
.container{
    min-height:20px;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 250px;
    background-color: #131A22;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #FF9900;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 300px;
    background-color: #131A22;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #131A22;
    transition: 0.3s ease;
}


form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: white;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: white;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #FF9900;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 20px;
    font-weight: 400;
}
form button:hover{
    background-color: hsl(36, 100%, 41%);
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .buttons{
    display: flex;
    align-items: center;
}


@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

/* Nav */

#navbar {
    background:#131A22;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  
  .logocont{
    margin-right: 20px;
  }
  
  .logo {
    width: 150px;
    margin-right: 150;
  }
  
  header nav ul {
    display: flex;
  }
  
  
  header nav ul li a {
    display: inline-block;
    color: white;
    padding: 5px 0;
    margin: 0 20px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
  }
  header nav ul li a:hover,
  header nav ul li a.active {
    border-bottom-color: #FF9900;
    border-radius: 200px;
  }
  
  
  @media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
  }
  @media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .heading span {
    color: crimson;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
  }

  .container form .input-field input[type="file"] {
    background-color: #dddddd;
    width: 38%; 
    padding: 10px 10px;
    margin: 5px 0px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.container form .input-field input[type="file"]:focus {
    /* Your styles for the file input when focused */
    border: 3px solid #FF9900;
}
